@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');


$background-color:rgb(32, 64, 81);
$background-color-2:rgb(22, 44, 56);
$primary-blue:rgb(59, 105, 120);
$neutral-blue:rgb(132, 169, 172);
$neutral-light-grey:rgb(228, 227, 227);
$font-size:0.937rem;
$font-family:'Poppins', sans-serif;
$font-coding:'Source Code Pro', sans-serif;
$font-bold:700;
$font-semi-bold:600;
$font-regular:500;
$font-semiregular:400;